body {
    background-color: beige;
    width: 100%;
    height: 120vh;
}

#divContainer{
    display: flex;
    justify-content: space-evenly;
    width: 70%;

}

#container{

    display: grid;
    grid-template-columns: fit-content(150px);
    grid-gap: 5px;
   box-sizing: border-box;
   
}
