* {
  box-sizing: border-box;
}

body {
  background-color: beige;
  width: 100%;
  height: 120vh;
  margin: 0%;
}

#divContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: bisque;
  height: 40px;
}
form {
    justify-content: start;
  }
  
  input[type="text"] {
    height: 30px;
    border: 2px solid rgb(57, 56, 58);
  }
  
  select {
    border: none;
    padding: 6px 8px;
  }
  button {
    background-color: #9aaba4;
    border: none;
    color: black;
    padding: 6px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

#container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}


